.nav {
  @apply w-full  h-24 bg-[#f2f2f2] relative flex justify-center items-center gap-4;
}
.logodiv {
  @apply w-fit pl-5;
}
.links {
  @apply w-2/5 h-full flex justify-center items-center gap-4;
}
.searchbar {
  @apply w-2/5 h-full  flex justify-center items-center gap-4;
}

.navLinks {
  @apply w-1/3 h-full flex justify-between items-center gap-4;
}
.navLinks li {
  @apply hover:border-b-[#6F459B] hover:border-b-[2px] block  px-5 hover:cursor-pointer;
}
.navinput {
  @apply outline-black w-[30rem] h-10 rounded-3xl px-5 text-xl;
}
.navbuttondiv {
  @apply w-1/5 h-full flex  justify-end  pr-5;
}
.navlinkButton {
  @apply flex items-center justify-center hover:hidden hover:border-b-[#6F459B] hover:border-b h-10 text-xl;
}
.profilediv {
  @apply absolute right-10 top-20 flex items-center justify-center gap-2 bg-red-900 w-64 h-32 rounded-md text-white;
}
/* to animate profile section */

@keyframes popFromTopRight {
  0% {
    transform: scale(0.5) translate(50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

.popin {
  animation: popFromTopRight 0.5s ease-out forwards;
}
