@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing fonts */
@font-face {
  font-family: "Parkinsans";
  src: url("./fonts/Parkinsans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Parkinsans";
  font-weight: bold;
  src: url("./fonts/Parkinsans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Parkinsans";
  font-weight: 500;
  src: url("./fonts/Parkinsans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Parkinsans";
  font-weight: 600;
  src: url("./fonts/Parkinsans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Parkinsans";
  font-weight: 700;
  src: url("./fonts/Parkinsans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Parkinsans";
  font-weight: 800;
  src: url("./fonts/Parkinsans-ExtraBold.ttf") format("truetype");
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Parkinsans, Arial, Helvetica, sans-serif;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notFoundAnimated {
  animation: fadeIn 2s ease-out forwards;
}
